*{
    font-family: 'Josefin Sans', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background-color: #E7BFCD;
}

/* Stylings for the navigation bar and its content */

header {
    display: flex;
    justify-content: space-around;
    background-color: #F182ED;
    padding-top: 30px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}

nav li {
    list-style: none;
    display: inline;
    padding: 15px;
    justify-content: space-between;
}

.myname{
    font-weight: 600;
    font-size: 25px;
    color: blue;
}

.myname , a{
    text-decoration: none;
}

.myname , a:hover {
    text-decoration: none;
    color: rgb(251, 255, 0);
}

nav ul a{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #FFF500;
}

#navlist {
    float: right;
}

#navlist a:hover {
    color: rgb(0, 255, 55);
    text-decoration:underline 2px solid black;
}

/* End of Navigation Bar stylings
Part 1 div stylings */

.part1{
    width: 100%;
    background-image: url(../Assets/Images/Wall1\ darken.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.part1 .profilePic img{
    border-radius: 100px;
}

.introduction{
    padding-left: 50px;
    padding-top: 70px;
}

.introduction p{
    /* font-size: 30px; */
    padding-top: 60px;
}

.introduction, #introTextPart1{
    color: yellow;
    font-size: 30px;
}
.introduction, #introTextPart2{
    color: rgb(240, 0, 248);
    padding-bottom: 10px;
    font-size: 45px;
}

/* end of introduction styling.
stylings for projects section */

.projectsSection {
    background-color: #E7BFCD;
    padding-top: 20px;
}

#GitButton {
    padding: 7px;
    border-radius: 20px;
}

#projectHead {
    color: blue;
    font-size: 40px;
    padding-top: 10px;
}

h1 {
    color: #4CAA4A;
    text-align: center;
}

.hr {
    color: black;
    size: 50px;
}

.titlesAndIntro p{
    text-align: center;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

/* end of Projects introduction part stylings */